{:paths   ["src"]
 :deps    {org.clojure/clojure     {:mvn/version "1.10.3"}
           rewrite-clj/rewrite-clj {:mvn/version "1.0.644-alpha"}}
 :aliases
 {:add-mvn-dep {:exec-fn brik.deps/add-mvn-dep}}}
